<div class="nav-scroller">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gerador">
                <span class="bi bi-file-earmark-spreadsheet-fill" aria-hidden="true"></span> Gerador Relatório
            </NavLink>
        </div>
        
    </nav>
</div>